// BOOK
@font-face {
  font-family: "CircularStd-Book";
  src: url("./fonts/CircularStd-Book.ttf") format("truetype"), url("./fonts/CircularStd-Book.woff") format("woff");
  src: url("./fonts/CircularStd-Book.eot");
  src: url("./fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CircularStd-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
// BOLD
@font-face {
  font-family: "CircularStd-Bold";
  src: url("./fonts/CircularStd-Bold.ttf") format("truetype"), url("./fonts/CircularStd-Bold.woff") format("woff");
  src: url("./fonts/CircularStd-Bold.eot");
  src: url("./fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CircularStd-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
// BLACK
@font-face {
  font-family: "CircularStd-Black";
  src: url("./fonts/CircularStd-Black.ttf") format("truetype"), url("./fonts/CircularStd-Black.woff") format("woff");
  src: url("./fonts/CircularStd-Black.eot");
  src: url("./fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CircularStd-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
// MEDIUM
@font-face {
  font-family: "CircularStd-Medium";
  src: url("./fonts/CircularStd-Medium.ttf") format("truetype"), url("./fonts/CircularStd-Medium.woff") format("woff");
  src: url("./fonts/CircularStd-Medium.eot");
  src: url("./fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CircularStd-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
